Source: whatskit
Maintainer: M.Hanny Sabbagh <mhsabbagh@outlook.com>
Section: web
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9), python3, python3-gi

Package: whatskit
Architecture: all
Depends: debhelper (>= 9), python3, python3-gi, gir1.2-webkit2-4.0
Description: WhatsKit
 A standalone desktop window for web.whatsapp.com. Useful if you don't want to keep your WhatsApp in your web browser, and you would like to have it in a seperate window.

 Written in WebKit, hence the name (Whatsapp + Webkit = WhatsKit).
